<html>
<head>
  <title>めもアプリ</title>
</head>
<body>
  <h1>新規作成</h1>
  <form  method="post" action="/memos">
    <textarea id="" name="memo_content" cols="30" rows="10"></textarea>
    <button type="submit" class="btn">新規作成</button>
  </form>
</body>
</html>
